.filters {
    max-width: 1340px;
    margin: 0 auto;
    padding: 50px 50px 0;
    border-bottom: 1px solid var(--gainsborough);
    display: flex;
    justify-content: space-between;
    background: var(--smokyWhite);
}

.filter__left {
    max-width: 650px;
}

.filter__list {
    max-width: 100%;
    display: flex;
}

.filter__item {
    padding: 0 20px 40px;
    position: relative;
    display: block;
}

.filter__item:hover {
    border-bottom: 2px solid var(--deepPink);
}

.fall {
    position: relative;
}

.fall::before {
    content: "";
    width: 2px;
    height: 6px;
    background: var(--darkTelegraph);
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    right: 11px;
    top: 11px;
    transform: rotate(45deg);
}

.fall::after {
    content: "";
    width: 2px;
    height: 6px;
    border-radius: 3px;
    background: var(--darkTelegraph);
    display: inline-block;
    position: absolute;
    top: 11px;
    right: 14px;
    transform: rotate(-45deg);
}

.link {
    text-decoration: none;
    font-family: var(--Helvetica);
    font-size: 20px;
    line-height: 25px;
    color: var(--darkTelegraph);
    position: relative;
}

.link:hover {
    color: var(--deepPink);
}

.sublist {
    background: var(--white);
    border: 1px solid var(--smokyWhite);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    display: none;
}

.subitem + .subitem {
    margin: 10px 0 0;
}

.fall:hover > .sublist {
    display: block;
}

.filter__right {
    width: 80px;
    display: flex;
    justify-content: space-between;
}

.square {
    max-width: 29px;
    height: 29px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
}

.square:hover > .square__line::after {
    border: 2px solid var(--deepPink);
}

.square__line {
    line-height: 0;
}

.square__line::after {
    content: "";
    width: 10px;
    height: 10px;
    background: var(--white);
    border: 2px solid var(--cadetBlueKrayola);
    border-radius: 2px;
    display: inline-block;
}

.rectangles {
    max-width: 29px;
    height: 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.rectangles:hover > .rectangles__line::after {
    border: 2px solid var(--deepPink);
}

.rectangles:hover > .rectangles__small::after {
    border: 2px solid var(--deepPink);
}

.rectangles__line {
    line-height: 0;
}

.rectangles__line::after {
    content: "";
    width: 24px;
    height: 5px;
    background: var(--white);
    border: 2px solid var(--cadetBlueKrayola);
    border-radius: 2px;
    display: inline-block;
}

.rectangles__small {
    line-height: 0;
}

.rectangles__small::after {
    content: "";
    width: 18px;
    height: 5px;
    background: var(--white);
    border: 2px solid var(--cadetBlueKrayola);
    border-radius: 2px;
    display: inline-block;
}