.header {
    max-width: 1920px;
    min-height: 650px;
    margin: 0 auto;
    padding: 0 50px;
    background: url(../../images/header.jpg) no-repeat center;
    position: relative;
}

.top-menu {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 0 0;
}

.logo {
    font-family: var(--Helvetica);
    font-size: 50px;
    line-height: 60px;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
}

.search {
    width: 50px;
    height: 50px;
    background: url(../../images/search.svg) no-repeat center;
    display: block;
    position: absolute;
    right: 300px;
    top: 35px;
    cursor: pointer;
}

.log-in {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: var(--Helvetica);
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
    text-transform: uppercase;
    position: absolute;
    right: 200px;
    margin: 15px 0;
}

.log-in:hover {
    color: var(--deepPink);
}

.sing-up {
    background: var(--deepPink);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    font-family: var(--Helvetica);
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
    text-transform: uppercase;
    padding: 10px 20px;
    position: absolute;
    right: 50px;
    top: 35px;
}

.sing-up:hover {
    background: var(--white);
    color: var(--deepPink);
}

.info-movie {
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}

.title {
    font-family: var(--Helvetica);
    font-size: 70px;
    line-height: 80px;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
}

.category {
    max-width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
}

.category__name {
    font-family: var(--Helvetica);
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
    opacity: .7;
}

.line::before {
    content: "";
    display: block;
    width: 1px;
    height: 25px;
    background: var(--white);
    opacity: .7px;
    border-radius: 5px;
    position: absolute;
    right: 174px;
    top: 4px;
}

.button {
    max-width: 600px;
    margin: 35px 0 0;
    padding: 0 0 50px;
    display: flex;
    justify-content: space-between;
}


.watch {
    background: var(--deepPink);
    border: 1px solid transparent;
    border-radius: 3px;
    padding: 10px 25px;
    font-family: var(--Helvetica);
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more-info {
    background: none;
    border: 1px solid var(--white);
    padding: 10px 25px;
    border-radius: 3px;
    font-family: var(--Helvetica);
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.add {
    background: none;
    border: none;
    font-family: var(--Helvetica);
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
    opacity: .8;
    outline: none;
}

.rating {
    width: 350px;
    position: absolute;
    right: -76%;
    bottom: 50px;
    color: var(--white);
    background: rgba(73, 76, 98, .2);
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 3px;
    padding: 10px 20px;
}

.rating__title {
    font-family: var(--Helvetica);
    font-size: 30px;
    line-height: 35px;
    color: var(--white);
    display: inline-block;
    margin: 0 5px 0 0;
}

.rating__info {
    font-family: var(--Helvetica);
    font-size: 18px;
    line-height: 35px;
    color: var(--white);
    display: inline-block;
    opacity: .5;
}

.stars {
    width: 284px;
    height: 40px;
    background: url(../../images/stars.svg) no-repeat;
}

.rating__numbers {
    font-family: var(--Helvetica);
    font-size: 18px;
    line-height: 20px;
    color: var(--white);
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 3px;
    position: absolute;
    right: 26px;
    bottom: 14px;
}