.header {
    max-width: 1920px;
    min-height: 650px;
    margin: 0 auto;
    padding: 0 50px;
    background: url(../../images/header.jpg) no-repeat center;
    background-size: cover; 
    display: flex;
    flex-flow: column nowrap;
}

.top-menu {
    max-width: 100%;
    padding: 30px 0 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: var(--Helvetica);
    font-size: 50px;
    line-height: 60px;
    color: var(--white);
    text-transform: uppercase;
    cursor: pointer;
}

.box {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    width: 50px;
    height: 50px;
    background: url(../../images/search.svg) no-repeat center;
    display: block;
    cursor: pointer;
}

.log-in:hover {
    color: var(--deepPink);
}

.sing-up {
    background: var(--deepPink);
}

.sing-up:hover {
    background: var(--white);
    color: var(--deepPink);
}

.info-movie {
    max-width: 100%;
    margin: auto 0 50px 0; 
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-flow: column;
}

.title {
    font-family: var(--Helvetica);
    font-size: 70px;
    line-height: 80px;
    color: var(--white);
    text-transform: uppercase;
}

.film-categories {
    max-width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.category__name {
    font-family: var(--Helvetica);
    font-size: 20px;
    line-height: 30px;
    color: var(--white);
    opacity: .7;
    position: relative;
}

.line::before {
    content: "";
    display: block;
    width: 1px;
    height: 25px;
    background: var(--white);
    opacity: .7;
    border-radius: 5px;
    position: absolute;
    top: 2px;
    left: -20px;
}

.buttons {
    margin: 35px 0 0;
    display: flex;
}

.watch {
    margin: 0 20px 0 0;
    background: var(--deepPink);
    border: 1px solid transparent;
}

.more-info {
    margin: 0 20px 0 0;
    background: none;
    border: 1px solid var(--white);
}

.add {
    padding: 0;
    background: none;
    border: none;
    opacity: .8;
}