.content {
    max-width: 1340px;
    margin: 0 auto;
    padding: 50px 50px 100px;
    background: var(--smokyWhite);
}

.box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( 4, auto );
    grid-column-gap: 50px;
    grid-row-gap: 40px;
}

.card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 35px 0px rgba(0, 0, 0, .1);
}

.image {
    max-width: 100%;
    height: 380px;
    background: url(../../images/content/1.jpg) no-repeat center;
    background-size: cover; 
    position: relative;
}

.image::before {
    content: "";
    width: 100%;
    height: 100px;
    background: linear-gradient(transparent, var(--black));
    opacity: .8;
    display: block;
    position: absolute;
    bottom: 0;
}

.year {
    font-family: var(--Helvetica);
    font-size: 25px;
    line-height: 25px;
    color: var(--cadetBlueKrayola);
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.info-movie {
    max-width: 100%;
    position: relative;
    padding: 25px 0 30px 20px;
}

.title {
    font-family: var(--Helvetica);
    font-size: 20px;
    line-height: 30px;
    color: var(--marengo);
}

.category {
    font-family: var(--Helvetica);
    font-size: 15px;
    line-height: 20px;
    color: var(--cadetBlueKrayola);
    margin: 6px 0 0;
}

.rating {
    font-family: var(--Helvetica);
    font-size: 15px;
    line-height: 20px;
    color: var(--deepPink);
    padding: 5px 10px;
    border: 1px solid var(--deepPink);
    border-radius: 2px;
    position: absolute;
    top: 40px;
    right: 15px;
}

.loading {
    width: 100%;
    margin: 130px auto 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.line {
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -70px;
}

.line__small::before {
    content: "";
    width: 4px;
    height: 20px;
    background: var(--deepPink);
    display: block;
    border: 1px solid transparent;
    border-radius: 5px;
}

.line__middle::before {
    content: "";
    width: 4px;
    height: 30px;
    background: var(--deepPink);
    display: block;
    border: 1px solid transparent;
    border-radius: 5px;
}

.line__big::before {
    content: "";
    width: 4px;
    height: 40px;
    background: var(--deepPink);
    display: block;
    border: 1px solid transparent;
    border-radius: 5px;
}

.text {
    font-family: var(--Helvetica);
    font-size: 20px;
    line-height: 25px;
    color: var(--cadetBlueKrayola);
    text-transform: uppercase;
}