.content {
    max-width: 1340px;
    margin: 0 auto;
    padding: 50px 50px 100px;
    background: var(--smokyWhite);
}

.box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( 4, auto );
    grid-column-gap: 50px;
    grid-row-gap: 40px;
}

.logan {
    background: url(../../images/content/logan.jpg);
}

.john-wick {
    background: url(../../images/content/john-wick.jpg);
}

.fantastic-beasts {
    background: url(../../images/content/fantastic.jpg);
}

.fifty-shades-darker {
    background: url(../../images/content/fifty-shades-darker.jpg);
}

.beauty-and-the-beast {
    background: url(../../images/content/beauty-and-the-beast.jpg);
}

.arrival {
    background: url(../../images/content/arrival.jpg);
}

.justice-league {
    background: url(../../images/content/justice-league.jpg);
}

.pirates {
    background: url(../../images/content/pirates.jpg);
}

.wonder-woman {
    background: url(../../images/content/wonder-woman.jpg);
}

.guardians {
    background: url(../../images/content/guardians.jpg);
}

.alien {
    background: url(../../images/content/alien.jpg);
}

.captain {
    background: url(../../images/content/captain.jpg);
}

.loading {
    width: 100%;
    margin: 130px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;   
}


.line {
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px;
    animation-name: loading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.line__small::before {
    content: "";
    width: 4px;
    height: 20px;
    background: var(--deepPink);
    display: block;
    border: 1px solid transparent;
    border-radius: 5px;
}

.line__middle::before {
    content: "";
    width: 4px;
    height: 30px;
    background: var(--deepPink);
    display: block;
    border: 1px solid transparent;
    border-radius: 5px;
}

.line__big::before {
    content: "";
    width: 4px;
    height: 40px;
    background: var(--deepPink);
    display: block;
    border: 1px solid transparent;
    border-radius: 5px;
}

.text {
    font-family: var(--Helvetica);
    font-size: 20px;
    line-height: 25px;
    color: var(--cadetBlueKrayola);
    text-transform: uppercase;
}

@keyframes loading {
    0% {
        transform: scale(1);
    }

    25% {
        transform: rotate(180deg) scale(1.3);
    }

    50% {
        transform: scale(1.5);
    }

    75% {
        transform: rotate(-180deg) scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}